/* main{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 1000px;
} */

* {
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}


body {
  overflow-x: hidden;
}

.banner--ad {
  background-color: black;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#exitcontainer--exitad {
  top: 11px;
  right: 471px;
}

.headerContents {
  width: 100%;
  height: 112px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContents--top {
  display: flex;
  width: 100%;
  max-width: 980px;
  height: 100%;
  padding: 30px 6px 25px 5px;
  justify-content: space-between;
  align-items: center;
}

.logoslogan {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 117px;
  height: 53px;
}

.slogan {
  font-weight: 300;
  font-size: 16px;
  color: #222;
  letter-spacing: 0.313em;
  margin-left: 10px;
}

.mymenu {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.mymenu--list {
  margin-left: 20px;
  position: relative;
}

.mymenu--img {
  display: block;
  width: 36px;
  height: 36px;
}

.mymenu--text {
  font-size: 13px;
  color: #666;
  text-align: center;
}

.mymenu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid lightgray;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 980px;
  height: 100%;
  padding: 5px 0;
}

#menu-ul {
  display: flex;
  list-style-type: none;
}

.nav-menu-li {
  margin-left: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 40px;
}

#menu-booking {
  color: #fb4357;
}

.nav-search {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

button, input {
  border: none;
  padding: 0;
}

.search-bar {
  display: block;
  width: 182px;
  height: 25px;
  border-left: 1px solid lightgray;
  padding-left: 13px;
  font-size: 15px;
}

.searchimg {
  display: block;
  width: 26px;
  height: 25px;
  padding-right: 13px;
  border-right: 1px solid lightgray;
  cursor: pointer;
}

.section-avi {
  height: 498px;
  border-top: 2px solid lightcoral;
  background-color: black;
}

.div-blank {
  height: 240px;
  background-color: lightgray;
}

/* .policy-list {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 23px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
} */

.policy-list{
  width: 980px;
  height: 19px;
  margin: 0 auto;
  padding: 23px 0;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  border-bottom: 1px solid lightgray;
}

.policy-list > li > a{
  color: black;
}

.company{
  width: 980px;
  height: 80px;
  margin: 0 auto;
  padding: 23px 0;
}

.company-info{
  font-size: 12px;
}

#ftc{
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

footer{
  padding-bottom: 14PX;
}